<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TikTok Advertiser</title>
</head>
<body>
    <h1>TikTok Advertisers</h1>
    <ul class="list-group">
        <% data.forEach(function(ad) {%>
        <li>
            <a href='/new-reports?advertiser_id=<%=ad.advertiser_id%>&start_date=2020-12-01&end_date=2020-12-27&report_type=BASIC&data_level=AUCTION_ADVERTISER&dimensions=["advertiser_id"]&metrics=["spend","cpm","cpc","impressions","clicks","complete_payment_roas"]' class="list-group-item text-dark"><%=ad.advertiser_name%></a>
        </li>
        <%});%>
    </ul>
    
    <p>Access Token: <%=accessToken%></p>
</body>
</html>